* {
	min-height: 10px;
}

body {
	background: black;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

/*postcard-header*/
.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 50px;
	height: 50px;
	margin: 2%;
}

.postcard-header h1 {
	width: 90%;
	margin: 2%;
	font-family: Georgia, "Times New Roman", Times, serif;
}
/*postcard-header*/

/*postcard-body*/
.postcard-body {
	display: flex;
	height: 200px;
}

.body-left p:first-child {
	margin-top: 0%;
}

p {
	font-size: 13px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.body-left,
.body-right {
	padding: 5%;
}

.body-left {
	width: 100%;
}

.body-right {
	width: 100%;
}

input {
	border: none;
	border-bottom: 1px solid grey;
	font-family: Georgia, "Times New Roman", Times, serif;
}
/*postcard-body*/

/*postcard-footer*/
.postcard-footer {
	text-align: center;
}

button {
	background-color: rgb(167, 167, 167);
	padding: 1px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
/*postcard-footer*/
